$cor-pagina: #fcfbf7;
$cor-card:#ebb587;
$cor-footer: #543435;
$cor-botao: #c07b72;

$cor-fonte-basica: #1f1f1f;
$cor-fonte-card: #2c2c2c;
$cor-fonte-footer: #fcfbf7;
$cor-highlight: #5d140e;
$cor-highlight-claro: #6e1c15;
$cor-texto-geral: #494949;

$cor-linha-separar: #999999;

$fonte-padrao: Arial, Helvetica, sans-serif;
$fonte-highlight: "Special Elite";

$tamanho-fonte-padrao: 16px;
$padding-padrao: 10px;
$pixel-padrao: 10px;

$width-padrao: 100px;
$height-padrao: 100px;