/* CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*outline: 1px solid red;*/
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fcfbf7;
    color: #1f1f1f;
}

header{
    padding: 15px;
    font-family: "Special Elite";
}

.img_logo{
    max-width: 100px;
    max-height: 100px;
}

#burguer{
    display: none;
}

.border_title{
    position: relative;
    padding-bottom: 10px;
    color: #5d140e
}

.border_title::after{
    content: ''; /* Pseudo-elementos precisam da propriedade content */
    display: block;
    width: 1000px; /* Define o comprimento da borda */
    height: 1px; /* Define a espessura da borda */
    background-color: #999999; /* Define a cor da borda */
    position: absolute; /* Posiciona a borda */
    bottom: 0; /* Alinha à parte inferior */
    left: 50%; /* Move para o centro */
    transform: translateX(-50%); /* Centraliza perfeitamente */ 
}

header h1{
    text-align: left;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li{
    display: inline;
    padding-right: 5px;
}

header nav ul li a{
    padding: 5px;
    text-decoration: none;
    color: #1f1f1f;
    font-size: 1.5rem;
}

.item_navbar:hover{
    background-color: #5e171071;
    border-radius: 30%;
}

section{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    height: 98vh;
}

.apresentacao{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}

.highlight{
    color: #5d140e;
    font-family: "Special Elite";
}

.apresentacao_edit{
    grid-column: 2/3;
    font-size: 1.3em;
}

.apresentacao_texto{
    color: #494949;
    margin-top: 1rem;
}

.foto_home{
    height: 95vh;
    border-radius: 10px;
    grid-column: 4/5;
    width: 90%;
    align-self: center;
    justify-self: center;
}

.sobre{
    display: grid;
    grid-template-areas: 
    ". ."
    "nav main"
    "nav main"
    "nav main"
    ". .";

    grid-template-rows: 1fr 2.6fr 2.6fr 2.6fr 1fr;
    grid-template-columns: 1fr 1.5fr;
}

.bloco_secao {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; /* controla o espaço */
  font-size: 1.3em;
  
}

.titulo_secao{
    text-align: center;
    font-family: "Special Elite";
    position: relative;
    
    margin-bottom: 1rem;
}

.titulo_secao::after{
    content: ''; /* Pseudo-elementos precisam da propriedade content */
    display: block;
    width: 100px; /* Define o comprimento da borda */
    height: 1px; /* Define a espessura da borda */
    background-color: #999999; /* Define a cor da borda */
    position: absolute; /* Posiciona a borda */
    /*bottom: 0;  Alinha à parte inferior */
    left: 50%; /* Move para o centro */
    transform: translateX(-50%); /* Centraliza perfeitamente */
}

.texto_sobre{
    color: #494949;
    text-align: center;
    max-width: 70%;
    margin-top: 0;
    padding-bottom: 1rem;

    justify-self: center;
    align-self: center;

}

.foto_sobre{
    height: 95vh;
    border-radius: 10px;
    width: 90%;
    justify-self: center;
    grid-area: nav;
}

.secao_depoimentos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carrosel_depo{
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1000px;
    overflow: hidden;
    > * {flex: 0 0 100%;}

    &:hover .grupo_carrossel {
      animation-play-state: paused;
    }
}

.grupo_carrossel{
    display: flex;
    padding-right: 20px;
    will-change: transform;
    animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.projeto_box{
    margin: 10px 50px;
    background-color: #ebb587;
    width: 350px;
    max-height: 300px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.icone_quote{
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #5d140e;
}

.pessoa{
    display: flex;
    align-items: center;
}

.pessoa img{
    width: 23%;
    height: 23%;
}

.nome-pessoa{
    color: #5d140e;
    font-weight: bold;
    font-size: 1.1rem;
}

.func-pessoa{
    color: #6e1c15;
    font-weight: light;
    font-size: 0.8rem;
}

.projeto_textos{
    padding: 15px;
}

.projeto_textos p{
    color: #2c2c2c;
    padding-bottom: 10px;
}

.servico_ofer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;
    justify-self: center;
    height: 90%;
}
.servico_ofer > :nth-child(1){
    grid-row: 1/2;
    grid-column: 2/3;
}
.servico_ofer > :nth-child(2){
    grid-row: 1/2;
    grid-column: 3/4;
}
.servico_ofer > :nth-child(3){
    grid-row: 1/2;
    grid-column: 4/5;
}
.servico_ofer > :nth-child(4){
    grid-row: 2/3;
    grid-column: 2/3;
}
.servico_ofer > :nth-child(5){
    grid-row: 2/3;
    grid-column: 3/4;
}
.servico_ofer > :nth-child(6){
    grid-row: 2/3;
    grid-column: 4/5;
}

.projeto_box_hab{
    margin: 10px 15px;
    padding: 20px;
    background-color: #ebb587;
    width: 300px;
    height: 250px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    place-self: center;
}

.icone_habilidades{
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 10px;
    color: #5d140e;
    text-align: center;
}

.habilidades_texto{
    text-align: center;
    color: #5d140e;
    margin-bottom: 1rem;

}

.cor_fundo{
    width: 50%;
    margin-left: 25%;
    background-color: rgba(84,52,53, 0.2);
}

footer{
    background-color: #543435   ;
    color: #fcfbf7;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container_rodape{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-left: 20%;
}

.texto_contato{
    margin: 2rem 0px;
}

.info_texto_contato{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.topico_contato{
    margin-top: 10px;
    text-align: start;
}

.topico_contato i{
    margin-right: 10px;
}

.formulario_contato{
    display: flex;
    flex-direction: column;
    margin: 2rem 0px;
    gap: 10px;
}

.formulario_contato input,
.formulario_contato textarea{
    padding: 10px;
    border-radius: 10px;
    font-family: inherit;
}

.btn_enviar{
    background-color: #c07b72;
    padding: 10px;
    border-radius: 10px;
    font-size: inherit;
}

.rodape_direitos{
    width: 50%;
    margin-left: 25%;
    padding-top: 2rem;
    border-top: 1px solid #5d140e;
}

.titulo_mais{
    font-size: 1.3em;
}

@media (max-width: 600px) {

    .img_logo{
        max-width: 70px;
        max-height: 70px;
    }

    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 40
    }
    #burguer{
        display: block;
        margin-left: 40%;
        font-size: 1.5rem;
    }

    .burguer_itens{
        display: flex;
        flex-direction: column;
    }

    menu{
        display: none;
    }

    .item_navbar{
        font-size: 1rem;
    }

    .border_title::after{
        width: 250px;
    }

    section{
        height: 80vh;
    }

    .apresentacao{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
    }

    .apresentacao_edit{
        font-size: 0.7rem;
    }

    .foto_home{
        height: 95%;
    }

    .foto_sobre{
        height: 95%;
    }

    .bloco_secao{
        font-size: 0.7rem;
    }

    .texto_sobre{
        max-width: 77%;
    }

    .titulo_mais{
        font-size: 0.7rem;
    }

    .servico_ofer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 90%;
        row-gap: 0rem;
    }
    .servico_ofer > :nth-child(1){
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .servico_ofer > :nth-child(2){
        grid-row: 1/2;
        grid-column: 3/4;
    }
    .servico_ofer > :nth-child(3){
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .servico_ofer > :nth-child(4){
        grid-row: 2/3;
        grid-column: 3/4;
    }
    .servico_ofer > :nth-child(5){
        grid-row: 3/4;
        grid-column: 2/3;
    }
    .servico_ofer > :nth-child(6){
        grid-row: 3/4;
        grid-column: 3/4;
    }

    .projeto_box_hab{
        width: 150px;
        height: 140px;
        padding: 5px;
        margin: 5px;
    }

    .icone_habilidades{
        font-size: 3rem;
        margin-top: 0.5rem;
    }

    .habilidades_texto{
        font-size: 0.8rem;
        margin-bottom: 0;
    }

    .carrosel_depo{
        max-width: 300px;
    }

    .projeto_box{
        width: 250px;
        max-height: 250px;
    }

    .projeto_textos{
        padding: 5px;
    }

    .container_rodape{
        display: block;
    }

}

@media (min-width: 601px) and (max-width: 900px){

    .img_logo{
        max-width: 100px;
        max-height: 100px;
    }

    #burguer{
        display: none;
    }

    .titulo_logo{
        font-size: 1.5rem;
    }

    .border_title::after{
        width: 400px;
    }

    section{
        height: 50vh;
    }

    .apresentacao{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 2fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
    }

    .apresentacao_edit{
        font-size: 1rem;
    }

    .foto_home{
        height: 95%;
    }

    .foto_sobre{
        height: 95%;
    }

    .bloco_secao{
        font-size: 1rem;
    }

    .texto_sobre{
        max-width: 77%;
    }

    .projeto_box_hab{
        width: 240px;
        height: 190px;
    }

    .carrosel_depo{
        max-width: 600px;
    }

    .container_rodape{
        align-items: center;
        justify-content: center;
        gap: 100px;
    }
}